#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
}

.high-score {
      font-size: 3.8rem;
    margin-bottom: 1.5rem;
    background-color: transparent;
    font-family: cursive;
}

.high-score:hover {
  transform: scale(1.025);
}
